
<h1>Photo</h1>

<h2><%= @photo.title%></h2>
<img src="<%= @photo.image_url%>" alt="<%= @photo.description%>"><br>
<h3><%= @photo.description%></h3>

<a href="/photos/<%= @photo.id %>/edit">EDIT</a><br>



<form action="/photos/<%= @photo.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>